<div class="center jumbotron jumpbotron_ic">
  <h1>Hello, world!</h1>
  <p>...</p>
  <% if @user %>
    <%= "Welcome, mr. #{@user.username}" %>
  <% else %>
    <%= link_to "Sign up", "signup", class: "btn btn-warning btn-lg" %>
  <% end %>
</div>
