$navbar-default-bg: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #aaa;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumpbotron_ic {
  //background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  background-image: asset-url('bg3.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.navbar-collapse li {
  color: #fff;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: solid 1px #000;
  color: #000;
}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */
}
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px;
}
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd;
}
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1;
}
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #000;
}
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #fff;
  background-color: #2e6ab1;
  font-weight: bold;
  //border-color: #4482e5;
}
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;
}
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em;
}
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html .digg_pagination {
  height: 1%;
}
*:first-child + html .digg_pagination {
  overflow: hidden;
}
