$navbar-default-bg: #fff;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #000;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #aaa;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumpbotron_ic {
  //background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  background-image: asset-url('bg3.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.navbar-collapse li {
  color: #fff;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: solid 1px #000;
  color: #000;
}
